:root {
	--text-light: white;
	--text-grey: grey;
}


* {
    padding: 0;
    margin: 0;
}

body {
    background: var(--text-light);
    
}



.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
      "chart chart chart chart"
      "checkOut checkOut checkOut checkOut";
    
  }
  
.header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "button title search";
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

.button { 
  grid-area: button; 
  text-align: center;
  }

.title { 
    grid-area: title; 
    text-align: center;
  }

.model, .price, .num, input[type="text"]::placeholder, .cart, .discount, .total, .textDis{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: var(--text-grey);
}

.title, .input-button, .btn{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.cart, .discount{
  /*display: inline-block;*/
  padding-bottom: 15px;
}


.list{
  
  display: inline-block;
  width: 100%;

}


.model{
  margin-bottom: 10px; 
  font-size: 98%;
}

    
.search { 
    grid-area: search; 
    text-align: center;
}

.chart { 
    grid-area: chart; 
    
    
  }

ul{
    height: 330px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: scroll;
    overflow-x: hidden;
}

li {
  list-style:none;
  margin-bottom: 20px;
}

.text-box{
    display: flex;
    flex-direction: column;
    margin: 30px;
}
  
  
  .checkOut { 
    grid-area: checkOut;
    padding: 50px;
  }
  


  #apartado1, #apartado2, #apartado3, #apartado4{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    background-image: radial-gradient(farthest-corner at 300px 1px ,  #E9E9E9 50%, #E2E2E2 50%);
    width:311px;
    height:115px;
    margin: auto;
    padding: 1rem;
    border-radius:22px;
    text-align: center;
    
 }



 .input-container{
    width: 100%;
    height: 40px;
    border:none;
    background-color: #E2E2E2;
    border-radius:22px;
    
}

.textDis{
  display: none;
}

.input-container input:focus, .input-container input:active, .input-container2 input:focus, .input-container2 input:active {
    outline: none;
}


.input-container button {
    float: right;
}

.input-field {
  background-color: transparent;
  border: none;
}

.input-field2{
  background-color: #E2E2E2;
  border-radius:22px;
  height: 40px;
  border: none;
}

.aux{
  float: right;
}

.input-button{
  color: #E56D29;
  font-weight: bold;
  height: 40px;
  width: 90px;
  border: none;
  background-color:transparent;
  outline:none;
  margin-left: auto;
  margin-right: auto;

}

.input-button:active{
  transform: scale(0.8);
}

.text{
    float: right;
}

.cart{
  width: 100%;
  margin: auto;
  padding-left: 4rem;
}


.input-container2{
  margin-top: 15px; 
}

input[type="text"]::placeholder{
  text-align: center;
}

.total{
  margin-right: 5px;
}


.btn {
  color: var(--text-light);
  font-weight: bold;
  border: none;
  background-color: #E56D29;
  border-radius: 10px;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  display: inline-block;
  margin-top: 20px;
  width: 100%;
  height: 50px;
  outline: none;
}

.btn:hover {
  box-shadow: 0 2px 10px 5px #919191;
  background-color: #eee;
  color: #E56D29;

}

.btn:active{
  transform: scale(0.9);
}
  
.img {
  width: 100%; 
  height: 100%; 
  object-fit: contain;
}

.arrow-up, .arrow-down {
  border: solid grey;
  border-width: 0 1px 1px 0;
  display: inline-block;
  padding: 3px;
}

.arrow-up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
  margin-bottom: 7px;
}

.arrow-down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  margin-bottom: 1px;
}

.aUp, .aDown {

  transform: scale(1.5);
  display: block;
  border:none;
  outline:none;
  background-color: transparent;

  
}



.aUp:active, .aDown:active{
  transform: scale(2);
}


.arrow-button{

  width:40px;
  height:25px;
  padding: 1rem;
  border-radius: 15px;
  background-color: var(--text-light);

  
}


.num{
  margin-top: 4px;
  margin-left: 4px;
  float: left;
  transform: scale(1.5);
  color: var(--text-grey);
}

.contador{
  
  float: right;
  
}


@media(min-width: 750px){
  
  body{
    background-color :#E4B080;
  }

  .grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
      "chart chart chart chart"
      "checkOut checkOut checkOut checkOut";
    border-radius:22px;
    background-color:var(--text-light);
    padding: 10px;
    margin: 50px;
    height: 550px;
  }

  .cart{
    width: 100%;
    text-align: center;
    padding-bottom: 15px;
    margin:unset;
    padding-left: unset;
  }

  

  #apartado1, #apartado2, #apartado3, #apartado4{
    display: grid;
    grid-template-columns: 1fr 150px 1fr 1fr;
    grid-gap: 10px;
    grid-template-areas:
    "img model price contador";
    background-image: radial-gradient(farthest-corner at 400px 20px ,  #E9E9E9 50%, #E2E2E2 50%);
    height:60px;
    border-radius:22px;
    text-align: center;
    width: 500px;

 }

 .contador{
   grid-area: contador;
   
 }

 .img{
   grid-area: img;
   height: 100%;
   width: 100%;
     
 }

 .model{
   grid-area: model;
   text-align: center;
   vertical-align: middle;
   line-height: 60px;
   font-size: 16px;     

 }

 .price{
    grid-area: price;
    text-align: center;
   vertical-align: middle;
   line-height: 60px; 
   font-size: 20px;     
 }

  .input-container2{
    display: none;
  }

  .textDis{
    display: unset;
    width: 49%;
    float: left;
    text-align: end;
    padding-top: 10px;

  }

  .input-container{
    display: inline;
    float: right;
    width: 50%;
    
  }

  .discount{
    display: none;
  }

  .checkOut { 
    grid-area: checkOut;
    padding: 20px;
  }
}




