* {
    padding: 0;
    margin: 0;
}

body {
    background: #eeeeee;
}


.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
      "header header header header"
      "chart chart chart chart"
      "chart chart chart chart"
      "checkOut checkOut checkOut checkOut"
      "checkOut checkOut checkOut checkOut"
      "menu menu menu menu";
  }
  
  .header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-template-areas:
      "button title search";
    grid-area: header;
    justify-content: center;
    align-items: center;
  }
  
  .button { 
    grid-area: button; 
    text-align: center;
    }
  
  .title { 
      grid-area: title; 
      text-align: center;
    }
  
  .search { 
      grid-area: search; 
      text-align: center;
    }
  
  .chart { 
      grid-area: chart; 
      display: flex;
      justify-content: center;
      align-items: center;
  
    }
  
  .checkOut { grid-area: checkOut; }
  
  .menu { grid-area: menu; }

  #apartado1{
    width:300px;
    height:100px;
    margin: 1rem;
    padding: 1rem;
    border-radius:22px;
    background-color: bisque;
    border: 2px solid #ccc;
    text-align: center;

 }

 .input-container{
    width: 250px;
    border: 1px solid #a9a9a9;
    display: inline-block;
    float: right;
}
.input-container input:focus, .input-container input:active {
    outline: none;
}
.input-container input {
    width: 80%;
    border: none;
}

.input-container button {
    float: right;
}

.text{
    float: right;
}
  
  