:root{
  --text-light: rgba(255,255,255,0.6);
  --text-lighter: rgba(255,255,255,0.9);
  --width-container: 1200px;
}

body,a{
  font-family: 'RobotoDraft', 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
}

p, h3{
  font-family: 'RobotoDraft', 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
}




.card-grid{
  display: grid;
  margin-top: 20px;
  grid-template-columns: repeat(1, 1fr);
  grid-row-gap: 24px;
  grid-column-gap: 24px;
  margin: auto;
  width: 70%;
}

.card{
  list-style: none;
  position: relative;
  height: 300px;
}

.card:before{
  content: '';
  display: block;
  width: 100%;
}


.cardFons{
  background: url(../../assets/misellanous/Ellipse1.png);
  background-size: 70% 60%;
  background-position-y: top;
  background-repeat: no-repeat;
  background-position-x: right;
  -webkit-transition: background-image 0s;
  border-radius: 24px;
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transform-origin: center;
  transition: 
    filter 1s linear,
    transform 500ms linear;
  

}


.card:hover .cardFons{
  transform: scale(1.0) translateZ(0) scaleX(1.2);
}

.card:hover .cardImage{
  transition:all 1s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.card-grid:hover > .card:not(:hover) .cardFons{
  filter: brightness(0.5) saturate(0) contrast(1.2) blur(20px);
}

.card-grid:hover > .card:not(:hover) .cardImage{
  filter: brightness(0.5) saturate(0) contrast(1.2) blur(20px);
}

.cardInformacio{
  left: 0;
  padding: 24px;
  position: absolute;
  top: 0;
  overflow: hidden;

}

.cardPrice{
  color: var(--text-light);
  font-size: 1.3rem;
  margin-bottom: var(--spacing-s);
  text-transform: uppercase;
}

.cardImage{
  left: 100px;
  padding: 24px;
  position: absolute;
  top: 0;
  max-width: 100%;
  transition: 1s;
  max-height: 100%;
}

.cardName{
  color: var(--text-lighter);
  font-size: 1.6rem;
  text-shadow: 2px 2px 20px rgba(0,0,0,0.2);
  line-height: 1.4;
  word-spacing: 100vw;
}


.descripcio{
  background-color: white;
  height: 300px;
  z-index: 7;
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  border-radius: 45px 45px 0px 0px;
  display: none;
  margin-left: 0;
  margin-right: 0;
}


:target .descripcio{
  display: flex;
  animation: descriptionEnter 1s ease;
  animation-timing-function:linear;
  animation-fill-mode:forwards;
}

:target .cardFons{
  animation: enlarge 2s ease;
  z-index: 5;
  animation-timing-function:linear;
  animation-fill-mode:forwards;
  grid-template-columns: repeat(1, 1fr);
}

:target .cardInformacio{
  z-index: 7;
}

@keyframes descriptionEnter {
  from {
    margin-top: 190%;
    height: 300%; 
  }

  to {
    margin-top: 90%;
    height: 300%;
  }
}


@keyframes enlarge {
  0%   {
    transform: scaleY(1.0) translateZ(0) scaleX(1.2)
  }
  25%{
    transform: scaleY(4) translateZ(0) scaleX(1.2)
  }
  50%  {
    transform: scaleY(4.5) translateZ(0) scaleX(2.0)
  }
  75%{
    transform: scaleY(5.5) translateZ(0) scaleX(2.0)
  }
  100% {
    transform: scaleY(7) translateZ(0) scaleX(2.0)
  }
}

@media(min-width: 750px){
  .card-grid{
    grid-template-columns: repeat(2, 1fr); 
  }
  .card:hover .cardFons{
    transform: scale(1.0) translateZ(0);
  }

}



